<?xml version="1.0"?>
<config>
    <modules>
        <Kash_Gateway>
            <version>0.2.4</version>
        </Kash_Gateway>
    </modules>
    <global>
        <models>
            <kash_gateway>
                <class>Kash_Gateway_Model</class>
                <resourceModel>kash_gateway_resource</resourceModel>
            </kash_gateway>
            <kash_gateway_resource>
                <class>Kash_Gateway_Model_Resource</class>
            </kash_gateway_resource>
        </models>
        <blocks>
            <kash_gateway>
                <class>Kash_Gateway_Block</class>
            </kash_gateway>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Kash_Gateway_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <kash_gateway>
                <class>Kash_Gateway_Helper</class>
            </kash_gateway>
        </helpers>
        <resources>
            <kash_gateway_setup>
                <setup>
                    <module>Kash_Gateway</module>
                </setup>
            </kash_gateway_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <x_gateway_reference>
                    <to_order_payment>*</to_order_payment>
                </x_gateway_reference>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>

    <frontend>
        <layout>
            <updates>
                <kash_gateway>
                    <file>kash/gateway.xml</file>
                </kash_gateway>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <events>
            <core_collection_abstract_load_before>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </kash_gateway>
                </observers>
            </core_collection_abstract_load_before>
        </events>
    </adminhtml>

    <default>
        <payment>
            <kash_gateway>
                <active>0</active>
                <bbtypes>AE,VI,MC,DI</bbtypes>
                <model>kash_gateway/method_bb</model>
                <order_status>processing</order_status>
                <title>Direct Debit or Credit Card</title>
                <post_url>https://gateway.withkash.com/</post_url>
                <skip_order_review_step>0</skip_order_review_step>
                <allowspecific>0</allowspecific>
            </kash_gateway>
        </payment>
    </default>

    <frontend>
        <routers>
            <kash_gateway>
                <use>standard</use>
                <args>
                    <module>Kash_Gateway</module>
                    <frontName>gateway</frontName>
                </args>
            </kash_gateway>
        </routers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </kash_gateway>
                </observers>
            </sales_quote_collect_totals_before>
            <checkout_onepage_controller_success_action>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>sendReport</method>
                    </kash_gateway>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_order_save_after>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>logOrderSave</method>
                    </kash_gateway>
                </observers>
            </sales_order_save_after>
            <sales_convert_quote_to_order>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>logQuoteToOrder</method>
                    </kash_gateway>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
</config>
