<?xml version="1.0"?>

<!-- The root node for a Magento module configuration -->
<config>

    <modules>
        <!--
            This tag must match the namespace and module name exactly, but
            with slash replaced with underscore.

            Our namespace is "Kash" and our module name is "Gateway".
        -->
        <Kash_Gateway>
            <version>0.2.11</version>
        </Kash_Gateway>
    </modules>

    <!-- Configure module's behaviour in the `global` area -->
    <global>
        <!-- Defining models -->
        <models>
            <!--
                Unique identifier in the model's node.
                By convention, we put the module's name in lowercase.
            -->
            <kash_gateway>
                <!--
                    The path to our models directory, with directory separators
                    replaced by underscores.
                -->
                <class>Kash_Gateway_Model</class>
                <resourceModel>kash_gateway_resource</resourceModel>
            </kash_gateway>
            <kash_gateway_resource>
                <class>Kash_Gateway_Model_Resource</class>
            </kash_gateway_resource>
        </models>

        <blocks>
            <kash_gateway>
                <class>Kash_Gateway_Block</class>
            </kash_gateway>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Kash_Gateway_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>

        <helpers>
            <kash_gateway>
                <!--
                    The path to our Helper directory, with directory separators
                    replaced by underscores.
                -->
                <class>Kash_Gateway_Helper</class>
            </kash_gateway>
        </helpers>

        <resources>
            <kash_gateway_setup>
                <setup>
                    <module>Kash_Gateway</module>
                </setup>
            </kash_gateway_setup>
        </resources>

        <fieldsets>
            <sales_convert_quote_payment>
                <x_gateway_reference>
                    <to_order_payment>*</to_order_payment>
                </x_gateway_reference>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>

    <!-- Configure module's behaviour in the `adminhtml` area -->
    <adminhtml>
        <events>
            <core_collection_abstract_load_before>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </kash_gateway>
                </observers>
            </core_collection_abstract_load_before>
        </events>
    </adminhtml>

    <!--
        Default values for our module's configuration. The values here serve as
        defaults for the fields defined in `system.xml`.
    -->
    <default>
        <payment>
            <!--
                Unique identifier in the model's node.
                By convention, we put the module's name in lowercase.
            -->
            <kash_gateway>
                <!--
                    This specifies the class Magneto will talk to for
                    information about this payment method.

                    It's in lower case and with slash replaced with
                    underscore.
                -->
                <model>kash_gateway/offsite</model>

                <active>0</active>
                <bbtypes>AE,VI,MC,DI</bbtypes>
                <order_status>processing</order_status>
                <title>Direct Debit or Credit Card</title>
                <post_url>https://gateway.withkash.com/</post_url>
                <skip_order_review_step>0</skip_order_review_step>
                <allowspecific>0</allowspecific>
            </kash_gateway>
        </payment>
    </default>

    <!-- Configure module's behaviour in the `frontend` area -->
    <frontend>
        <layout>
            <updates>
                <kash_gateway>
                    <file>kash/gateway.xml</file>
                </kash_gateway>
            </updates>
        </layout>
        <routers>
            <kash_gateway>
                <use>standard</use>
                <args>
                    <module>Kash_Gateway</module>
                    <frontName>kash_gateway</frontName>
                </args>
            </kash_gateway>
        </routers>
        <events>
            <!-- Event emitted by `app/code/core/Mage/Sales/Model/Quote.php` -->
            <sales_quote_collect_totals_before>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </kash_gateway>
                </observers>
            </sales_quote_collect_totals_before>

            <!-- Event emitted by `app/code/core/Mage/Checkout/controllers/OnepageController.php` -->
            <checkout_onepage_controller_success_action>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>sendReport</method>
                    </kash_gateway>
                </observers>
            </checkout_onepage_controller_success_action>

            <!--
                "_save_after" event emitted by `app/code/core/Mage/Core/Model/Abstract.php`
                `_eventPrefix` defined in `app/code/core/Mage/Sales/Model/Order.php`
            -->
            <sales_order_save_after>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>logOrderSave</method>
                    </kash_gateway>
                </observers>
            </sales_order_save_after>

            <!-- Event emitted by `app/code/core/Mage/Sales/Model/Convert/Quote.php` -->
            <sales_convert_quote_to_order>
                <observers>
                    <kash_gateway>
                        <type>model</type>
                        <class>kash_gateway/observer</class>
                        <method>logQuoteToOrder</method>
                    </kash_gateway>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
</config>
