<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <kash_gateway translate="label">
                    <label>Kash Gateway</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This controls the title that the user sees during checkout</comment>
                        </title>
                        <x_shop_name translate="label">
                            <label>Shop Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>required-entry</frontend_class>
                        </x_shop_name>
                        <x_account_id translate="label">
                            <label>Kash Account ID</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry</frontend_class>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This is the account ID you get from your Kash account</comment>
                        </x_account_id>
                        <server_key translate="label">
                            <label>Kash Server Key</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry</frontend_class>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This is the server key you get from your Kash account</comment>
                        </server_key>
                        <post_url translate="label">
                            <label>Gateway URL</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>required-entry</frontend_class>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </post_url>
                        <skip_order_review_step translate="label comment">
                            <label>Order Review Step</label>
                            <config_path>payment/kash_gateway/skip_order_review_step</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <shared>1</shared>
                        </skip_order_review_step>
                        <min_order_total translate="label">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>98</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_order_total>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        <x_show_gateway_ref translate="label comment">
                            <label>Show Gateway Reference ID</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show the Kash Gateway Reference ID in the order listing screen. Allows easy search and lookup of orders paid using Kash.</comment>
                        </x_show_gateway_ref>
                        <x_test translate="label comment">
                            <label>Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>While in test mode, Kash Gateway won't actually charge anybody and you can use any username and password to testing things out. However, please note that orders will still be created on Magento side.</comment>
                        </x_test>
                        <model>
                        </model>
                    </fields>
                </kash_gateway>
            </groups>
        </payment>
    </sections>
</config>
